@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* All styles start here */

/* shared styles start here */
.hide{
  display: none;
}
body img{
  filter: contrast(4%)
}
main > section{
  max-width: 1200px;
  margin: 40px auto;
}

.display-flex{
  display: flex;
}
.primary-bg-color{
  background-color: rgba(255, 144, 14, 0.1);
}
.primary-text-m{
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
}
.primary-text-s{
  color: #727272;
  font-size: 1rem;
  line-height: 1.7rem;
}

.primary-btn{
  background-color: #FF900E;
  padding: 20px 24px;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 32px 0px;
}
.section-title{
  color: #131313;
  font-size: 2.75rem;
  font-weight: 700;
  padding: 20px 0px;
}
/* shared styles end here */
header{
  padding: 30px 0px;
}
/* nav style start */
.nav-container{
  justify-content: space-around;
  align-items: center;
}

.navbar{
  gap: 25px;
}

.nav-items{
  list-style: none;
}
.nav-link{
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  
}
/* nav style end */
/* banner related styles start */
.banner{
  max-width: 1200px;
  margin: 0 auto;
}
.banner-info{
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0px;
  margin-top: 30px;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
}
.banner-img img{
  width: 100%;
}

/* Team section styles */
.team-section{
  align-items: center;
  gap: 65px;
}
.team-images{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}

#team-title-part-1{
  font-size: 2.6rem;
  font-weight: 500;
  color: #727272;
}
#team-title-part-2{
  font-size: 2.7rem;
  font-weight: 700;
  color: #131313;
}
#team-title-part-3{
  font-size: 2.7rem;
  font-weight: 700;
  color: #FF900E;
}
/* facts relate styles */
.fact-contents{
  max-width: 500px;
  margin: 60px 0px;
  
}

.fact-card-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 110px;
}

.fact-cards{
  border: 1px solid #FF900E;
  border-radius: 8px;
  padding: 35px 30px;
  text-align: center;
}


/* All styles end here */


/* Responsive for mobile devices */
@media screen and (max-width: 576px) {
  .nav-container,
  .navbar,
  .team-section{
    flex-direction: column;

  }
  .brand{
    margin-bottom: 20px;
  }
  .nav-items{
    font-size: 20px;
    font-weight: 600;
    text-align: center; 
  }
  /* team section related styles */
  .team-images{
    grid-template-columns: repeat(1, 1fr);
  }
  .team-contents{
    padding: 0px 40px;
  }
  /* fact section */
  .fact-card-container{
    grid-template-columns: repeat(1, 1fr);
    gap: 60px;
    padding: 0px 44px;
  }
  .fact-contents{
    padding: 0px 50px;
  }
}

/* Responsive for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px){
  /* team section related styles */
  .team-section{
    flex-direction: column;

  }
  .team-images img{
    width: 100%;
  }
  .team-contents{
    padding: 0px 40px;
  }
  /* fact section */
  .fact-card-container{
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    padding: 0px 44px;
  }
  .fact-contents{
    padding: 0px 50px;
  }
}