@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* All styles start here */

/* shared styles start here */
.hide{
  display: none;
}

.display-flex{
  display: flex;
}
.primary-bg-color{
  background-color: rgba(255, 144, 14, 0.1);
}
.primary-text-m{
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
}
.primary-text-s{
  color: #727272;
  font-size: 1rem;
  line-height: 1.7rem;
}

.primary-btn{
  background-color: #FF900E;
  padding: 20px 24px;
  border-radius: 8px;
  border: none;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 32px 0px;
}
/* dark3 color */
.text-color-secondary{

}
.section-title{
  color: #131313;
  font-size: 2.75rem;
  font-weight: 700;
}
/* shared styles end here */
header{
  padding: 30px 0px;
}
.nav-container{
  justify-content: space-around;
  align-items: center;
  /* padding: 40px 0px; */
}

.navbar{
  gap: 25px;
}

.nav-items{
  list-style: none;
}
.nav-link{
  color: #424242;
  font-size: 1.125rem;
  font-weight: 500;
  text-decoration: none;
  
}
/* banner related styles */
.banner{
  max-width: 1200px;
  margin: 0 auto;
}
.banner-info{
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0px;
  margin-top: 30px;
}
.banner-title{
  font-size: 4rem;
  font-weight: 700;
}
.banner-img img{
  width: 100%;
}
/* All styles end here */


/* Responsive for mobile devices */
@media screen and (max-width: 576px) {
  .nav-container,
  .navbar{
    flex-direction: column;

  }
  .brand{
    margin-bottom: 20px;
  }
  .nav-items{
    font-size: 20px;
    font-weight: 600;
    text-align: center; 
  }
}

/* Responsive for medium devices */
@media screen and (min-width: 576px) and (max-width: 992px){

}